<html>
    <head>

        <style>
            body {
                background-color: #f0f2f5;
            }
        </style>
        <title>Rachit</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet", href = "./static/css/materialize.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"> 
        <link rel="icon" type="image/x-icon" href="./static/favicon.ico">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class = "navbar-fixed">
            <nav class="transparent ">
              
   
                  <a class ="brand-logo teal-text center" href="/"><strong>RACHIT</strong> </a>
              
              
            </nav>
            
            </div>
        {% block content %}

        {% endblock %}

        <div class="fixed-action-btn">
            <a class="btn-floating waves-effect waves-light" href="https://linkedin.com/in/rachity"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>

        {% include "footer.html" %}  
              
    
 
    </body>

    <script type = 'text/javascript', src = "./static/js/materialize.min.js"></script>
    <script type = 'text/javascript', src = "./static/js/materialize.js"></script>
    <script type = 'text/javascript'>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.tooltipped');
        var instances = M.Tooltip.init(elems);
    });
    </script>
    <script type = 'text/javascript'>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
    
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.tooltipped');
        var instances = M.Tooltip.init(elems);
      });
    
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
      });

      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
        });
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
        });
    
      </script>

<style>
    body{
        font-size: 1.2rem;
    }

    nav{
      background-image: url('..\\static\\nav-bkg.png');
    }
</style>

</html>